:root {
  --text-color: hsl(60, 100%, 50%);
}

.App {
  background-color: rgb(236, 236, 236);
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #282c34;
}

/* HEADER */
.header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
}

.header__logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100%;
}

/* MAIN */
.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.select {
  font-size: 1.5rem;
  text-align: center;
}

.result {
  width: 70%;
}

.result__title {
  font-size: 2rem;
  text-align: center;
  border: 1px solid rgb(204, 204, 204);
  padding: 10px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  margin-bottom: -1px;
}

.result__details {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(203, 203, 203);
  list-style-type: none;
}

.loading {
  font-size: 1.5rem;
}

.select-license {
  text-align: center;
  border-top-color: white;
}

/* FOOTER */
.footer {
  background-color: #282c34;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
