:root {
  --text-color: hsl(60, 100%, 50%);
  --border-grey: hsl(0, 0%, 80%);
  --react-color: #282c34;
}

.App {
  background-color: hsl(0, 0%, 93%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--react-color);
}

/* HEADER */
.header {
  background-color: var(--react-color);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
}

.header__logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100%;
}

/* MAIN */
.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.select {
  font-size: 1.5rem;
  text-align: center;
  margin: 10px;
}

.result {
  width: 80%;
}

.result__title {
  font-size: 2.25rem;
  text-align: center;
  border: 1px solid var(--border-grey);
  padding: 10px;
  background-color: white;
  z-index: 1;
  margin: 0;
  margin-bottom: -1px;
}

.result__desc {
  line-height: 1.8
}

.result__details {
  padding: 30px 10%;
  background-color: white;
  border: 1px solid var(--border-grey);
  list-style-type: none;
}

.result__details__boxes {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.result__box {
  border: 1px solid var(--border-grey);
  border-radius: 4px;
  width: 30%;

  display: flex;
  flex-direction: column;
}

.result__box__title {
  height: 20%;
  text-align: center;
}

.loading {
  font-size: 1.5rem;
}

.select-license {
  text-align: center;
  border-top-color: white;
}

/* FOOTER */
.footer {
  background-color: var(--react-color);
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
