:root {
  --text-color: hsl(60, 100%, 50%);
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

/* HEADER */
.header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.header__logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100%;
}

/* MAIN */
.main {
  flex-grow: 1;
  background: linear-gradient(135deg, hsl(60, 60%, 50%) 0%, #fceabb 100%);
}

/* FOOTER */
.footer {
  background-color: #282c34;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
